* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 75% auto;
  background-color: aqua;
  height: 100vh;
  width: 100vw;
}
.header {
  color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
}
.heading {
  width: 50%;
}

.navhead {
  width: 50%;
}
.navhead a {
  padding-right: 80px;
  padding-left: 50px;
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#image1 {
  width: 220px;
  height: 200px;
  border-radius: 10px;
}
.bottom {
  color: khaki;
  font-size: 25px;
  border: 2px solid yellow;
  outline: none;
  background: black;
  padding-top: 25px;
  text-align: center;
  box-sizing: border-box;
}
