* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(#000e2e, #004f5a);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 10vh;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  position: relative;
  /* border: 1px solid black; */
  box-sizing: border-box;
  padding: 15px;
}

/* ******WELCOME EVERYONE****** */

.content h1 {
  width: 500px;
  font-size: 40px;
  /* border: 1px solid blue; */
  /* font-family: "Dancing Script", cursive; */
  font-family: "Tangerine", cursive;
  position: relative;
  top: -30px;
  left: 100px;

  animation: colorchange 1s infinite;
}
@keyframes colorchange {
  0% {
    color: grey;
  }
  25% {
    color: blue;
  }
  50% {
    color: red;
  }
  75% {
    color: yellow;
  }
  100% {
    color: lightgreen;
  }
}
@media screen and (max-width: 376px) {
  .content h1 {
    left: 0;
    top: -100px;
    width: 130px;
    font-size: 20px;
  }
}
/* ****TEXT PART ***** */

.text {
  width: 500px;
  height: 50px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;

  position: relative;
  top: -20px;
  left: 300px;
  overflow: hidden;
}
.text h1 a {
  text-decoration: none;
  color: white;
  font-family: "Pacifico", cursive;
}
@media screen and (max-width: 376px) {
  .text {
    left: 50px;
    top: -115px;
    width: 210px;
    height: 40px;

    justify-content: start;
  }
  .text h1 a {
    font-size: 15px;
  }
}

/* ******MENU PART ******** */
.menu {
  border: 7px solid aquamarine;
  border-radius: 0px 30px 0px 25px;
  height: auto;
  width: 500px;
  padding: 15px;

  position: relative;
  left: 250px;
  box-sizing: border-box;
}
.menu nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  /* height: 50px; */
}
.menu nav ul li a {
  font-size: 20px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;

  color: white;
  text-decoration: none;
}

.menu nav ul li ::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.menu nav ul li :hover::after {
  width: 100%;
}
@media screen and (max-width: 376px) {
  .menu {
    background-color: rgba(0, 0, 0, 0.4);
    border: 5px solid aquamarine;
    border-radius: 0px 25px 0px 25px;
    /* border-radius: 15px; */
    /* height: auto; */
    width: 100%;
    padding-top: 20px;

    position: absolute;
    top: 0;
    left: 0;
  }
  .menu nav ul li a {
    font-size: 16px;
  }
}

/* *****IMAGE PART************ */
.imagepart {
  width: 260px;
  height: 280px;
  position: absolute;
  left: 880px;
}
.imagepart img {
  width: 100%;
  height: 100%;
  border: 3px solid white;
  border-radius: 25px;
  box-shadow: 0px 10px 25px 15px gray;
}
.imagepart img:hover {
  border: 3px solid yellow;
}
@media screen and (max-width: 376px) {
  .imagepart {
    width: 200px;
    height: 200px;
    left: 80px;
    top: 235px;
  }
}
